<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-todo"> </head>

  <body>
    <nav th:replace="/fragments/nav :: 네브바"></nav>

    <main role="main" class="container">
      <div class="display-2 mt-3" style="text-align: center">TODOLIST</div>
        <div class="mt-5 row">
          <div class="col-md-8">
            <div class="row">
              <a th:href="@{/todos/new}" class="btn btn-primary my-3 ml-3" style="height: 2.3em">추가하기</a>
              <nav class="navbar navbar-light ml-auto">
                <div class="container-fluid">
                  <form class="d-flex" th:action="@{/todos/search}" role="search">
                    <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success ml-2" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            </div>
            <table class="table" id="todoList">
              <tr>
                <th>TODO</th>
                <th>시작날짜</th>
                <th>목표날짜</th>
                <th>진행상황</th>
                <th>수 정</th>
                <th>삭 제</th>
              </tr>
              <tr th:each="todo : ${todoSearch}">
                <td th:text="${todo.title}"></td>
                <td th:text="${todo.startDate}"></td>
                <td th:text="${todo.targetDate}"></td>
                <td class="stage" th:text="${todo.stage}"></td>
                <td><a th:href="@{'/todos/edit/' + ${todo.id}}">수정</a></td>
                <td><a class="deleteConfirm" th:href="@{'/todos/delete/' + ${todo.id}}">삭제</a></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- <nav class="mt-3" th:if="${count > perPage}">
          <ul class="pagination">
            <li class="page-item" th:if="${page > 0}">
              <a class="page-link" th:href="@{/todos/search} + '?page=__${page-1}__'" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            page가 현재 number와 같으면 active 아니면 아무것도 안 줌 -->
            <!-- <li class="page-item" th:classappend="${page == number} ? 'active' : ''" th:each="number:${#numbers.sequence(0, pageCount-1)}"> -->
              <!-- number는 실제로 0이지만 보기 좋게 1로 출력 -->
              <!-- <a class="page-link" th:href="@{/todos/search} + '?page=__${number}__'" th:text="${number+1}"></a>
            </li>
            <li class="page-item" th:if="${page < pageCount-1}">
              <a class="page-link" th:href="@{/todos/search} + '?page=__${page+1}__'" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> -->
      </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/chart.js}"></script>
  </body>
</html>
