<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: 헤드"></head>
  <!-- static에 있는 css폴더 (static은 주소에 생략가능) -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <body>
    <nav th:replace="layouts :: 네브바"></nav>
    <div class="container mt-3">
      <a class="btn btn-primary" href="/projects/new" role="button"> 새 프로젝트</a>
      <a class="btn btn-success" href="/employees/new" role="button"> 새 직원</a>
    </div>
    <div class="container mt-5">
      <h3>프로젝트 진행 상황</h3>
      <div class="row">
        <div class="col-md-7">
          <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th>프로젝트 이름</th>
                <th>현재 진행상태</th>
              </tr>
            </thead>
            <tbody>
              <!-- 타임리프의 반복문 -->
              <tr th:each="project : ${projectList}">
                <td class="stage" th:text="${project.name}"></td>
                <td class="stage" th:text="${project.stage}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 왼쪽으로 마진 -->
        <div class="col-md-3 ms-5">
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="container mt-3">
      <h3>직원현황</h3>
      <div class="row">
        <div class="col-md-7">
          <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th>성</th>
                <th>이름</th>
                <th>프로젝트 수</th>
              </tr>
            </thead>
            <tbody>
              <!-- 타임리프의 반복문 -->
              <tr th:each="emp : ${empProList}">
                <td th:text="${emp.lastName}"></td>
                <td th:text="${emp.firstName}"></td>
                <td th:text="${emp.count}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      
    </div>

    <footer th:replace="layouts :: 푸터"></footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/chart.js}"></script>
  </body>
</html>
